<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公共页面代码</title>
    <script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
    <!--<script type="text/javascript" src="login/js/jquery-ui.min.js" th:src="@{/login/js/jquery-ui.min.js}"></script>-->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1088874_nhvocdb2ud.css"/>
    <link rel="stylesheet" href="layui-v2.4.5/css/layui.css" th:href="@{/layui-v2.4.5/css/layui.css}"/>
    <script src="layui-v2.4.5/layui.js" th:src="@{/layui-v2.4.5/layui.js}"></script>
</head>
<body>
<!--nav-->
<div class="layui-header" th:fragment="top">
    <div class="layui-logo">FlankOA</div>

    <ul class="layui-nav layui-layout-right">

        <!--邮件-->
        <li class="layui-nav-item">
            <a href="javascript:;" id="animation-left-nav" th:href="@{/email/mana}"
               class="iconfont layui-extendfajianxiang"></a>
        </li>
        <!--锁屏-->
        <li class="layui-nav-item">
            <a href="lock.html" th:href="@{/user/lock}" class="layui-icon layui-icon-password"></a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">[[${session.user.realName}]]
            </a>
            <dl class="layui-nav-child">

                <!--<dd>-->
                <!--<a href=""  class="layui-icon layui-icon-username">基本资料</a>-->
                <!--</dd>-->
                <dd>
                    <!--皮肤切换-->
                    <div style="margin-left: 10px;">
                        <div id="test-all" style="width:33px;"></div>
                        <span style="color:black">设置主题</span>
                    </div>

                </dd>
                <dd>
                    <a href="login.html" class="layui-icon layui-icon-close" th:href="@{/user/logout}">退出</a>
                </dd>
            </dl>
        </li>

    </ul>
</div>
<!--slide-->
<div class="layui-side layui-bg-black" th:fragment="slide">
    <div class="layui-side-scroll" id="admin-navbar-side">
        <ul class="layui-nav layui-nav-tree" lay-filter="test" id="nav">

        </ul>
    </div>

</div>
</div>
</body>

<script>
</script>
</html>