<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>FlankOA</title>
    <link rel="stylesheet" href="layui-v2.4.5/css/layui.css" th:href="@{/layui-v2.4.5/css/layui.css}"/>
    <script src="layui-v2.4.5/layui.js" th:src="@{/layui-v2.4.5/layui.js}"></script>
    <script type="text/javascript" src="login/js/jquery-ui.min.js" th:src="@{/login/js/jquery-2.1.1.min.js}"></script>
    <script src="layui-v2.4.5/layui-xtree.js" th:src="@{/layui-v2.4.5/layui-xtree.js}"></script>
    <!--导入阿里图标库-->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1088874_nhvocdb2ud.css"/>
    <style type="text/css">
        form {

            margin: 10px auto;

        }

        h1, h2, h3 {
            padding: 10px 0;
        }


        .xtree_contianer {

            overflow: auto;
            margin-bottom: 30px;
            background-color: #fff;
            padding: 30px 0 25px 50px;
        }

    </style>
</head>

<body>

<!--<form class="layui-form" action="#" id="messageEditForm" style="width:80%;">

    <div id="xtree1" class="xtree_contianer"></div>
</form>-->
<form class="layui-form" action="#"  id="messageEditForm">
    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-input-block">
            <!-- 使用隐藏域用于保存编辑项的ID值，便于提交修改 -->
            <input type="hidden" class="id" name="roleId" id="roleId">
            <div id="xtree3" class="xtree_contianer"></div>
        </div>
    </div>

    <!--隐藏提交按钮，用来触发layui的验证，因为open中的按钮没法添加lay-submit，所以没有办法触发验证
        标记验证是否通过
    -->
    <input class="submit" lay-submit="" lay-filter="msgSubmit" type="hidden" />

    <div class="div-btns">
        <input type="button" id="btn1" value="获取全部[选中的][末级节点]原checkbox DOM对象，返回Array"
               class="layui-btn layui-btn-fluid"/>
    </div>
</form>
</body>
<script th:inline="none">
    //颜色编辑模块
    layui.use('colorpicker', function () {
        var $ = layui.$, colorpicker = layui.colorpicker;
        //开启全功能
        colorpicker.render({
            elem: '#test-all'
            , color: 'rgba(57, 61, 73, 1)'
            , size: 'xs'
            , format: 'rgb'
            , predefine: true
            , alpha: true
            , change: function (color) {
                //给当前页面头部和左侧设置主题色
                $('.layui-header,.layui-side-scroll,.layui-nav').css('background-color', color);
            }
        });

    });


</script>
<script type="text/javascript">

    //********************
    //      正式开始
    //********************

    //layui 的 form 模块是必须的
    layui.use(['form'], function () {
        $ = layui.jquery;
        var form = layui.form;
        //监听提交，当验证通过时才会执行该方法

        var menuIds=new Array();
        var xtree3 = new layuiXtree({
            elem: 'xtree3'                  //必填三兄弟之老大
            , form: form                    //必填三兄弟之这才是真老大
            , data: '/roleMenu/grantRoleInfo' //必填三兄弟之这也算是老大
            , isopen: false  //加载完毕后的展开状态，默认值：true
            , ckall: true    //启用全选功能，默认值：false
            , ckallback: function () {
            } //全选框状态改变后执行的回调函数
            , icon: {        //三种图标样式，更改几个都可以，用的是layui的图标
                open: "&#xe7a0;"       //节点打开的图标
                , close: "&#xe622;"    //节点关闭的图标
                , end: "&#xe621;"      //末尾节点的图标
            }
            , color: {       //三种图标颜色，独立配色，更改几个都可以
                open: "#EE9A00"        //节点图标打开的颜色
                , close: "#EEC591"     //节点图标关闭的颜色
                , end: "#828282"       //末级节点图标的颜色
            }
            , click: function (data) {  //节点选中状态改变事件监听，全选框有自己的监听事件
                console.log(data.elem); //得到checkbox原始DOM对象
                console.log(data.elem.checked); //开关是否开启，true或者false
                console.log(data.value); //开关value值，也可以通过data.elem.value得到
                console.log("-----------")
                var oCks = xtree3.GetAllChecked(); //这是方法  得到全部选中的节点值为menuId值

                for (var i = 0; i < oCks.length; i++) {
                    var ele=oCks[i].value
                    if(oCks.indexOf(ele) == -1){
                        ele=parseInt(ele);
                        menuIds.push(ele);
                    }
                    console.log(oCks[i].value);
                }
                console.log("-----------")
                console.log(data.othis); //得到美化后的DOM对象
            }
        });
        form.on('submit(msgSubmit)', function(data){
            alert($("#roleId").val())
            alert(menuIds)
            $.ajax({
                url: "/roleMenu/grant",
                type: "post",
                traditional: true,
                data:{
                    "roleId":$("#roleId").val(),
                    "menuIds":menuIds
                },
                // contentType: "application/json;charset=UTF-8", // 发送数据的格式
                success: function (result) {
                    alert(2)
                    if (result.code == 200) {
                        layer.msg("授权成功", {icon: 6});
                    } else {
                        layer.msg("授权失败", {icon: 5})
                    }
                }
            });
            $(".submit").val(1);

        });


        //提供的方法们

        //获取全部[选中的][末级节点]原checkbox DOM对象，返回Array
        /*document.getElementById('btn1').onclick = function () {

           console.log($("#roleId").val())
        }*/

        /*//获取全部原checkbox DOM对象，返回Array
        document.getElementById('btn1').onclick = function () {

            var oCks = xtree3.GetAllCheckBox(); //这是方法

            for (var i = 0; i < oCks.length; i++) {
                console.log(oCks[i].value);
            }
        }

        //更新数据，重新渲染
        document.getElementById('btn3').onclick = function () {
            xtree3.render();
        }

        //通过value值找父级DOM对象，顶级节点与错误值均返回null
        document.getElementById('btn4').onclick = function () {

            var oCks = xtree3.GetParent(document.getElementById('txt1').value);  //这是方法

            if (oCks != null) { //如果返回的对象不为null，则获取到父节点了，如果为null，说明这个值对应的节点是一级节点或是值错误
                console.log(oCks.value);
            } else {
                console.log('无父级节点或value值错误');
            }

        }*/



    });


</script>
</html>